[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "predict3d"]
	path = predict3d
	url = https://github.com/cardiomoon/predict3d
	shallow = true
	registered = true
[submodule "ggiraphExtra"]
	path = ggiraphExtra
	url = https://github.com/cardiomoon/ggiraphextra
	shallow = true
	registered = true
[submodule "ztable"]
	path = ztable
	url = https://github.com/cardiomoon/ztable
	shallow = true
	registered = true
[submodule "processR"]
	path = processR
	url = https://github.com/cardiomoon/processr
	shallow = true
	registered = true
[submodule "dplyrAssist"]
	path = dplyrAssist
	url = https://github.com/cardiomoon/dplyrassist
	shallow = true
	registered = true
[submodule "moonBook"]
	path = moonBook
	url = https://github.com/cardiomoon/moonbook
	shallow = true
	registered = true
[submodule "ggplotAssist"]
	path = ggplotAssist
	url = https://github.com/cardiomoon/ggplotassist
	shallow = true
	registered = true
[submodule "editData"]
	path = editData
	url = https://github.com/cardiomoon/editdata
	shallow = true
	registered = true
[submodule "webr"]
	path = webr
	url = https://github.com/cardiomoon/webr
	shallow = true
	registered = true
[submodule "interpretCI"]
	path = interpretCI
	url = https://github.com/cardiomoon/interpretci
	shallow = true
	registered = true
[submodule "autoReg"]
	path = autoReg
	url = https://github.com/cardiomoon/autoreg
	shallow = true
	registered = true
[submodule "mycor"]
	path = mycor
	url = https://github.com/cardiomoon/mycor
	shallow = true
	registered = true
