[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "autoReg"]
	path = autoReg
	url = https://github.com/cardiomoon/autoreg
[submodule "dplyrAssist"]
	path = dplyrAssist
	url = https://github.com/cardiomoon/dplyrassist
[submodule "editData"]
	path = editData
	url = https://github.com/cardiomoon/editdata
[submodule "ggiraphExtra"]
	path = ggiraphExtra
	url = https://github.com/cardiomoon/ggiraphextra
[submodule "ggplotAssist"]
	path = ggplotAssist
	url = https://github.com/cardiomoon/ggplotassist
[submodule "interpretCI"]
	path = interpretCI
	url = https://github.com/cardiomoon/interpretci
[submodule "moonBook"]
	path = moonBook
	url = https://github.com/cardiomoon/moonbook
[submodule "mycor"]
	path = mycor
	url = https://github.com/cardiomoon/mycor
[submodule "predict3d"]
	path = predict3d
	url = https://github.com/cardiomoon/predict3d
[submodule "rrtable"]
	path = rrtable
	url = https://github.com/cardiomoon/rrtable
[submodule "webr"]
	path = webr
	url = https://github.com/cardiomoon/webr
[submodule "ztable"]
	path = ztable
	url = https://github.com/cardiomoon/ztable
